@import url(https://fonts.googleapis.com/css?family=Montserrat|Raleway:300|Black+Ops+One|Open+Sans:300|Poppins:300);
html{
    font-family: 'Montserrat', sans-serif;
}
#bg{
    height: 70vh;
    width: 70vw;
    background-color: black;
}

#topbar{
    z-index:5;
}

#levelWaveDisplay p{
    margin:0;  
}

#container{
    width:100%;
    height:80%;
    margin: 0 auto;
}


#tower{
    background-image: url("/img/turret/sprite_1.png");
    background-repeat: no-repeat;
}


body{
        background-color:black;
}
    
p{
        color:white;
}

div{
    color:white;
}

.wrap{
  width: 99%;
  height: 70px;
  margin-bottom:50px;
  
}

#home button{
    padding: 25px;
}

button{
    appearance: none;
    background-color:transparent;
    border:solid 2px white;
    border-radius: 5px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: lowercase;
    color:white;
    font-size: 120%;
}

button:hover{
    color:#666;
    border:solid 2px #666;
    transition: 0.75s ease;
    
}

h1{
    font-size: 4.75em;
    color:#e8e8e8;
    letter-spacing: 10;
    animation: glow 1s infinite alternate;

}

@keyframes glow {
    to {
        text-shadow: 1px 1px 15px #c0c0c0;
    }
}

#apple{
    font-family: 'Poppins', sans-serif;
}

#fbi{
    font-family: 'Black Ops One',cursive;
     font-size: 1.2em;
   
}

#home{
    top:20%;
    position:absolute;
    width:99%;
    margin: 0 auto;
    text-align: center;
}

/* foe */
.damage{
    filter: brightness(0) invert(1);
}

.left{
    height:160px;
    width:160px;
    background-image: url('/img/foe/leftwalk.gif');
}

.up{
    height:160px;
    width:160px;
    background-image: url('/img/foe/backwalk.gif');
}

.right{
    height:160px;
    width:160px;
    background-image: url('/img/foe/rightwalk.gif');
}
.down{
    height:160px;
    width:160px;
    background-image: url('/img/foe/frontwalk.gif');
}

/* foe2 */

.left2{
    height:160px;
    width:160px;
    background-image: url('/img/foe2/leftwalk.gif');
}

.up2{
    height:160px;
    width:160px;
    background-image: url('/img/foe2/backwalk.gif');
}

.right2{
    height:160px;
    width:160px;
    background-image: url('/img/foe2/rightwalk.gif');
}
.down2{
    height:160px;
    width:160px;
    background-image: url('/img/foe2/frontwalk.gif');
}


.bullet{
    position: absolute;
    height:3px;
    width:6px;
    background-color: #000;
    border-radius: 50%;
    z-index: 5;
}

.explode{
    position:absolute;
    height:154px;
    width:60px;
    background-image: url('/img/explosion20fps.gif');
}

.explode2{ /* x */
    position:absolute;
    height:61px;
    width:60px;
    background-image: url('/img/explosion2-60.gif');
}
.levelInfo{
    float:right;
    width:150px;
    font-size:20px;
    display:inline-block;
}

.creditPlace{
    float:left;
    width:120px;
    
    display:inline-block;
}

.wavePlace{
    width:300px;
    height:50px;
    text-align:center;
    display:inline-block;
}
.towerDisplay{
    width:500px;
}
.towerPlace{
    width:100px;
    height:100px;
    display:inline-block;
}

.towerPlace img{
    width:75px;
    height:75px;
}



#truckpath{
    position: relative;
    height:100px;
    width:8%;
    float:left;
    animation: truck 5s;
    animation-fill-mode: forwards;
}
#truck{
    float:right;
    bottom:0px;
    height:89px;
    width:62px;
    background-image: url("/img/movingtruck.gif");
    z-index:1;
}

@keyframes truck {
    from {
        top: 700px;
    }
    to {
        top: -200px;
 
    }
}


#game{
    position: relative;
    margin: 0 auto;
    width:70%;
    height:60%;
    float:left;
    
    display:block;
    border-radius: 5px;
}
#hqwrap{
    height:95%;
    width:20%;
    float:left;
    
}

#hq{
    position: relative;
    background-image: url("/img/HQ150.png");
    height:126px;
    width:150px;
    top:300px;
}

#towerbar{
    position:absolute;
    left: 17%;
    margin-top:20px;
    
}

#towerbar li{
    display:inline-block;
    float:right;
    margin-right: 10px; 
    height:60px;
    width:60px;
    border:solid 2px white;
    border-radius: 5px;
}

#towerbar li:hover{

    border:solid 2px #666;
    transition: 0.75s ease;
    
}
#bottomBar{
    float:left;
    width:90%;
    height:10%;
    display:inline-block;
    
}
