#bg{
    height: 70vh;
    width: 70vw;
    background-color: aquamarine;
}



#tower{
    height:150px;
    width:150px;    
}

.left{
    height:160px;
    width:160px;
    background-image: url('img/leftwalk.gif');
}

.up{
    height:160px;
    width:160px;
    background-image: url('img/backwalk.gif');
}

.right{
    height:160px;
    width:160px;
    background-image: url('img/rightwalk.gif');
}
.down{
    height:160px;
    width:160px;
    background-image: url('img/frontwalk.gif');
}


.levelInfo{
    float:right;
    width:150px;
    display:inline;
}

.creditPlace{
    float:left;
    width:150px;
    display:inline;
}

.bar{
    width:700px;
    display:inline-block;
}

.gameScreen{
    width:600px;
    height:600px;
    background-color: blue;
    display:block;
}

/*.leftPlace{*/
/*}*/

/*.rightPlace{*/
/*}*/