.hidden {
    display: none;
}
#tower {
    background-image: url("http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=42075689");
    background-repeat: no-repeat;
    width:300px;
    height:300px;
}
.cursor_change {
    cursor: url('http://www.placecage.com/50/50'), crosshair;
}